Makefile

# Project specific ignores.
# -- Wu et al. (2020)
all_virus_genomes/

# Jupyter cache.
.ipynb_checkpoints/
.virtual_documents/

# Output and data directories.
reads/
data/
genomes/
db/

# FASTQ files
*.fq
*.fq.gz
*.fastq
*.fastq.gz

# FASTA files
*.fa
*.fa.gz
*.fna
*.fna.gz
*.faa
*.faa.gz
*.fasta
*.fasta.gz

# MyST build outputs
_build
